target
temp
.github
.dockerignore
.git
.gitignore

translations/tests/
translations/examples/
translations/metta_queries/
translations/README.md

api/csv_sexpr/target/
api/mork_client/target/
api/logs
api/static
api/target
api/temp
api/test-results
api/Cargo.lock

