# Database connection
POSTGRES_USER=metta-kg-admin
POSTGRES_PASSWORD=<POSTGRES PASSWORD>
POSTGRES_DB=metta-kg
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_SSLMODE=prefer

# Service communication
METTA_KG_MORK_URL=http://mork:8001

# CORS configuration
METTA_KG_FRONTEND_URL=http://localhost:3000

# Mork configuration
MORK_SERVER_ADDR=0.0.0.0
MORK_SERVER_PORT=8001

# Frontend configuration (for local dev with Vite)
VITE_BACKEND_URL=http://api:8000
