:root {
	--base: hsl(249deg, 22%, 12%);
	--surface: hsl(247deg, 23%, 15%);
	--overlay: hsl(248deg, 25%, 18%);
	--muted: hsl(249deg, 12%, 47%);
	--subtle: hsl(248deg, 15%, 61%);
	--text: hsl(245deg, 50%, 91%);
	--love: hsl(343deg, 76%, 68%);
	--gold: hsl(35deg, 88%, 72%);
	--rose: hsl(2deg, 55%, 83%);
	--pine: hsl(197deg, 49%, 38%);
	--foam: hsl(189deg, 43%, 73%);
	--iris: hsl(267deg, 57%, 78%);
	--highlight-low: hsl(244deg, 18%, 15%);
	--highlight-med: hsl(249deg, 15%, 28%);
	--highlight-high: hsl(248deg, 13%, 36%);

	--moon-base: hsl(246deg, 24%, 17%);
	--moon-surface: hsl(248deg, 24%, 20%);
	--moon-overlay: hsl(248deg, 21%, 26%);
	--moon-muted: hsl(249deg, 12%, 47%);
	--moon-subtle: hsl(248deg, 15%, 61%);
	--moon-text: hsl(245deg, 50%, 91%);
	--moon-love: hsl(343deg, 76%, 68%);
	--moon-gold: hsl(35deg, 88%, 72%);
	--moon-rose: hsl(2deg, 66%, 75%);
	--moon-pine: hsl(197deg, 48%, 47%);
	--moon-foam: hsl(189deg, 43%, 73%);
	--moon-iris: hsl(267deg, 57%, 78%);
	--moon-highlight-low: hsl(245deg, 22%, 20%);
	--moon-highlight-med: hsl(247deg, 16%, 30%);
	--moon-highlight-high: hsl(249deg, 15%, 38%);

	--dawn-base: hsl(32deg, 57%, 95%);
	--dawn-surface: hsl(35deg, 100%, 98%);
	--dawn-overlay: hsl(33deg, 43%, 91%);
	--dawn-muted: hsl(257deg, 9%, 61%);
	--dawn-subtle: hsl(248deg, 12%, 52%);
	--dawn-text: hsl(248deg, 19%, 40%);
	--dawn-love: hsl(343deg, 35%, 55%);
	--dawn-gold: hsl(35deg, 81%, 56%);
	--dawn-rose: hsl(3deg, 53%, 67%);
	--dawn-pine: hsl(197deg, 53%, 34%);
	--dawn-foam: hsl(189deg, 30%, 48%);
	--dawn-iris: hsl(268deg, 21%, 57%);
	--dawn-highlight-low: hsl(25deg, 35%, 93%);
	--dawn-highlight-med: hsl(10deg, 9%, 86%);
	--dawn-highlight-high: hsl(315deg, 4%, 80%);
}