@use 'sass:color';

@import './rose-pine-hsl.css';

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

body {
    color: var(--rp-text);
    background: var(--rp-base);
}

header {
    position: relative;
    width: 100%;
    z-index: 1;
    background: var(--rp-surface);
    padding: 16px;
    box-shadow:
        0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);

    h1 {
        display: inline-block;
        font-size: 1.6rem;
        margin: 0;
    }

    nav {
        float: right;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        margin: 0px 8px;
        gap: 16px;
    }
}

.Icon {
    color: var(--rp-moon-subtle);
}

input:not([type='file']) {
    background: transparent;
    color: var(--rp-text);
    border-radius: 4px;
    padding: 8px 16px;
    border: solid 1px var(--rp-highlight-high);
}

input:focus {
    outline: 1px var(--rp-highlight-high) solid;
}

input[type='submit'],
input[type='button'] {
    @extend .Button;
}

input[type='checkbox'] {
    transform: scale(1.15);
}

select {
    background: transparent;
    color: var(--rp-text);
    border-radius: 4px;
    padding: 8px 16px;
    border: solid 1px var(--rp-highlight-high);

    option {
        background: var(--rp-overlay);
        border: none;
    }
}

.OutlineButton {
    background: transparent;
    color: var(--rp-love);
    text-decoration: none;
    border: solid 1px var(--rp-love);
    border-radius: 8px;
    padding: 6px 20px;
}

.OutlineButton:disabled {
    @extend .OutlineButton;
    border-color: var(--rp-muted);
    color: var(--rp-muted);
}

.Button {
    background: transparent;
    color: var(--rp-love);
    text-decoration: none;
    border: solid 1px var(--rp-love);
    border-radius: 4px;
    padding: 8px 20px;
}

.Button:disabled {
    @extend .Button;
    border-color: var(--rp-muted);
    color: var(--rp-muted);
}

.TextButton {
    background: transparent;
    color: var(--rp-text);
    text-decoration: none;
    border: none;
    border-radius: 8px;
    padding: 6px 20px;
}

.TextButton:disabled {
    @extend .TextButton;
    border-color: var(--rp-muted);
    color: var(--rp-muted);
}

input[type='file']:invalid::file-selector-button {
    @extend .Button;
    background: transparent;
}

input[type='file']:valid::file-selector-button {
    @extend .Button;
    background: var(--rp-love);
    color: var(--rp-text);
}

h1 {
    font-size: 1.8rem;
    margin: 12px 0;
}

h2 {
    font-size: 1.5rem;
    margin: 8px 0;
}

h3 {
    font-size: 1.3rem;
    margin: 8px 0;
}

.Instructions {
    color: var(--rp-subtle);
}

dialog {
    width: 500px;
    background: var(--rp-overlay);
    color: var(--rp-text);
    border: none;
    box-shadow:
        0px 8px 10px -5px rgba(0, 0, 0, 0.2),
        0px 16px 24px 2px rgba(0, 0, 0, 0.14),
        0px 6px 30px 5px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    padding: 18px;

    h2 {
        width: 100%;
        padding: 12px;
        margin-bottom: 24px;
        border-bottom: solid 1px var(--rp-highlight-high);
    }

    label {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 8px;
    }

    .ModalButtonBar {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px;
        margin-top: 24px;
        border-top: solid 1px var(--rp-highlight-high);
    }
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

fieldset {
    border: solid 1px var(--rp-highlight-high);
}

legend {
    color: var(--rp-subtle);
}

.Toaster {
    background: var(--rp-moon-overlay) !important;
    color: var(--rp-text) !important;

    button {
        @extend .Button;

        margin-top: 12px;
    }
}
