@import 'styles/Common.module';

.Main {
    width: 100%;
    margin-top: 64px;
}

.RootTokenForm {
    background: var(--rp-surface);
    padding: 8px 16px 16px 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    box-shadow:
        0px 3px 3px -2px rgba(0, 0, 0, 0.2),
        0px 3px 4px 0px rgba(0, 0, 0, 0.14),
        0px 1px 8px 0px rgba(0, 0, 0, 0.12);

    & > h2 {
        margin: 16px 8px;
    }

    & > * {
        margin: 8px;
    }
}

.NewTokenForm {
    background: var(--rp-surface);
    padding: 8px 16px 16px 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    box-shadow:
        0px 3px 3px -2px rgba(0, 0, 0, 0.2),
        0px 3px 4px 0px rgba(0, 0, 0, 0.14),
        0px 1px 8px 0px rgba(0, 0, 0, 0.12);

    & > h2 {
        margin: 16px;
    }

    & > * {
        margin: 8px;
    }

    .NewTokenPermissions input {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

// allows table to be horizontally scrollable without scrolling the page horizontally
.TokenTableWrapper {
    overflow-x: auto;

    .TokenTableInnerWrapper {
        width: max-content;
    }
}

.TokenTable {
    thead {
        background: var(--rp-surface);
        position: sticky;
    }

    th:first-child {
        border-top-left-radius: 8px;
    }

    th:last-child {
        border-top-right-radius: 8px;
    }

    td,
    th {
        padding: 8px 16px;
    }

    // token code cells contain 2 elements
    td > div.CodeCell {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;

        .CodeCellIcon {
            color: var(--rp-muted);
        }
    }

    // make code cells look clickable
    td > div.CodeCell:hover {
        .CodeCellIcon {
            color: var(--rp-moon-text);
        }

        &:not(.Copied) {
            opacity: 0.75;

            .CodeCellIcon {
                transform: scale(1.1);
            }
        }
    }

    th > * {
        margin: 8px 0px;
    }

    // tab navigation can be used to focus header cells resulting in an outline color
    // header cells are focused on-click to appear 'selected'
    // this is needed due to how browsers distinguish between tab and on-click focusing
    th:focus {
        outline: 1px var(--rp-highlight-high) solid;
    }

    // highlight selected table rows
    tbody > tr:has(input[type='checkbox']:checked) {
        background: var(--rp-highlight-med);
    }

    .CopyTooltip {
        background: var(--rp-overlay);
        color: var(--rp-text);
        padding: 12px;
        border-radius: 8px;
        border: solid 1px var(--rp-highlight-high);
        position: absolute;
        z-index: 1;
    }

    .PermissionIcon {
        text-align: center;
    }

    .SortIcon {
        margin-left: 12px;
    }

    .CodeCellContent,
    .NamespaceCell {
        font-family: 'Courier New', monospace;
    }

    .NamespaceSearchRegexInput,
    .DescriptionSearchRegexInput {
        text-align: center;
    }
}

.TokenTableNoData {
    position: relative;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TableButtonBar {
    width: auto;
    background: var(--rp-surface);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: 16px;
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 16px;

    button {
        @extend .Button;
    }
}

.NewTokenNoPermissionsWarning {
    color: var(--rp-gold);
}

@media screen and (max-width: 1024px) {
    .Main {
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: center;
        align-items: center;
    }

    .RootTokenForm {
        width: 80%;

        h2,
        input {
            text-align: center;
        }
    }

    .NewTokenForm {
        width: 80%;
    }

    .TokenTableWrapper {
        width: 95%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 2099px) {
    .Main {
        display: flex;
        flex-direction: column;
        gap: 32px;
        justify-content: safe center;
        align-items: safe center;
    }

    .RootTokenForm {
        width: 400px;

        h2,
        input {
            text-align: center;
        }
    }

    .NewTokenForm {
        flex-direction: row;
        align-items: center;

        & > label {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .NewTokenPermissions {
            fieldset > label > input {
                margin: 8px;
            }
        }
    }

    .TokenTableWrapper {
        margin: 16px;
        width: 95%;

        display: flex;
        justify-content: safe center;
        align-items: safe center;
    }
}

@media screen and (min-width: 2100px) {
    .Main {
        display: grid;
        grid-template-columns:
            1fr
            auto
            1fr;
        gap: 32px;
        justify-items: center;
        align-items: center;
    }

    .RootTokenForm {
        width: 400px;
        grid-row: 1;
        grid-column: span 3;

        h2,
        input {
            text-align: center;
        }
    }

    .TokenTableWrapper {
        grid-row: 2;
        grid-column: 2;
        align-self: center;
        justify-self: center;
        overflow-x: auto;
    }

    .NewTokenForm {
        grid-row: 2;
        grid-column: 3;
        align-self: start;
        justify-self: start;

        & > label {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        fieldset {
            display: flex;
            flex-direction: column;

            label > input {
                margin: 8px;
            }
        }
    }
}
